  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" class="nav-link px-2 text-body-secondary">Bootstrap</a></li>
      <li class="nav-item"><a href="https://docs.djangoproject.com/en/4.1/" class="nav-link px-2 text-body-secondary">Django</a></li>
      <li class="nav-item"><a href="https://backslasher.net" class="nav-link px-2 text-body-secondary">Backslasher (\)</a></li>
    </ul>
    <a href="https://www.hasadna.org.il/"><p class="text-center text-body-secondary">הסדנא לידע ציבורי</p></a>
  </footer>
