{% extends "bare.html" %}
{% load static %}
{% load i18n %}
{% block head %}
    <script src="{% static 'calendar.js' %}">
    </script>
{% endblock %}
{% block body %}
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper" style="height:100%;overflow:auto">
        <input type="text" id="aaaa" placeholder="{% translate "filter" %}" class="list-group-item list-group-item-action list-group-item-light p-3" oninput="filterCalendars(this.value)"/>
        <div id="calendar-list" class="list-group list-group-flush">
        </div>
      </div>

      <!-- Modal stuff -->
      <div id="myModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="modalTitle" class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">{% translate "Location" %}</th>
                    <td id="modalLocation"></td>
                  </tr>
                  <tr>
                    <th scope="row">{% translate "Start" %}</th>
                    <td id="modalStart"></td>
                  </tr>
                  <tr>
                    <th scope="row">{% translate "End" %}</th>
                    <td id="modalEnd"></td>
                  </tr>
                  <tr>
                    <th scope="row">{% translate "Calendar" %}</th>
                    <td>
                      <a target="_blank" id="modalCalendar" href="#"></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      <!-- Page content wrapper-->
      <div id="page-content-wrapper" style="width:100%">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container-fluid">
            {% translate "Display" %}:&nbsp;
            <select id="view" onchange="changeView(this.value)">
              <option value="month">{% translate "Month" %}
              </option>
              <option value="week">{% translate "Week" %}
              </option>
              <option value="day">{% translate "Day" %}
              </option>
            </select>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
              </span>
            </button>
            &nbsp;
            {% translate "Language" %}:&nbsp;
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="/about/">
                    {% translate "About" %}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="https://www.hasadna.org.il/">
                    {% translate "Hasadna" %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          <div id='calendar'>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
