{% extends "bare.html" %}
{% load static %}
{% load i18n %}
{% block body %}
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">{% translate "Name" %}</th>
          <td>{{ calendar.title }}</td>
        </tr>
        <tr>
          <th scope="row">{% translate "Start" %}</th>
          <td>
            <a href="{{ start_url }}">
              {{ calendar.get_start }}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">{% translate "End" %}</th>
          <td>
            <a href="{{ end_url }}">
              {{ calendar.get_end }}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">{% translate "When created" %}</th>
          <td>{{ calendar.created_at }}</td>
        </tr>
        <tr>
          <th scope="row">{% translate "When created at source" %}</th>
          <td>{{ calendar.when_created_at_source }}</td>
        </tr>
        <tr>
          <th scope="row">{% translate "Resource ID" %}</th>
          <td>
            <a href="{{ calendar.get_view_url }}">{{ calendar.resource_id }}</a>
          </td>
        </tr>
      </tbody>
{% endblock %}
